:root{
    --main-color:  rgb(67, 164, 86);
}

html, body {
    margin: 0; 
    padding: 0;
    height: 100%;
}

#content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: sans-serif;
}

.header {
    background-color: var(--main-color);
    color: white;
    padding: 40px;
    text-align: center;
    margin-bottom: 2rem;
}

.title {
    font-size: 3rem;
}
.mid-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: min(500px, 65%); 
    border: 1px lightgrey solid; 
    border-radius: 5px;
    padding: 13px;
    margin-bottom: 40px;
}

label {
    margin: 11px 0; 
}

input[type='button']{
    color: white; 
    background-color: black;
    border: none; 
    border-radius: 5px;
    width: 5rem; 
    padding: 7px; 
    font-size: 1.2rem;
}

input[type='button']:hover{
    background-color: var(--main-color);
    cursor: pointer;
}

.rep-field {
    width: min(400px, 70%);
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 40px;
}

table th{
   padding: 10px 0; 
   text-align: left;
   background-color: var(--main-color);
   color: white;
}

table td, table th {
    border: 1px lightgrey solid;
    padding: 10px;
}

table tr:nth-child(even) {
    background-color: lightgrey;
}

.info-block {
    background-color:rgb(101, 107, 101); 
    padding: 20px;
    text-align: center;
    color: white;
}

footer{
    color: white;
    background-color: rgb(36, 39, 36);
    padding: 12px 0;
    font-size: 1rem;
    text-align: center;
}